<html>

<body>
    <form action="{% url 'polls:new_question' %}" method="post">
        {% csrf_token %}
        {{ question_form|linebreaks }}
        {{ choice1_form|linebreaks }}
        {{ choice2_form|linebreaks }}
        {{ choice3_form|linebreaks }}
        <input type="submit" value="Add a new question">
    </form>
</body>
