{% load static %}

<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, shrink-to-fit=9">
	<meta name="description" content="Gambolthemes">
	<meta name="author" content="Gambolthemes">
	<title>CourseMe</title>

	<!-- Favicon Icon -->
	<link rel="icon" type="image/png" href="{% static 'courseMe/images/fav.png' %}">

	<!-- Stylesheets -->
	<link href='http://fonts.googleapis.com/css?family=Roboto:400,700,500' rel='stylesheet'>
	<link href="{% static 'courseMe/vendor/unicons-2.0.1/css/unicons.css' %}" rel="stylesheet">
	<link href="{% static 'courseMe/css/vertical-responsive-menu.min.css' %}" rel="stylesheet">
	<link href="{% static 'courseMe/css/style.css' %}" rel="stylesheet">
	<link href="{% static 'courseMe/css/responsive.css' %}" rel="stylesheet">
	<link href="{% static 'courseMe/css/night-mode.css' %}" rel="stylesheet">
	<link href="{% static 'courseMe/css/instructor-dashboard.css' %}" rel="stylesheet">
	<link href="{% static 'courseMe/css/instructor-responsive.css' %}" rel="stylesheet">
	<link href="{% static 'courseMe/css/jquery-steps.css' %}" rel="stylesheet">


	<!-- Vendor Stylesheets -->
	<link href="{% static 'courseMe/vendor/fontawesome-free/css/all.min.css' %}" rel="stylesheet">
	<link href="{% static 'courseMe/vendor/OwlCarousel/assets/owl.carousel.css' %}" rel="stylesheet">
	<link href="{% static 'courseMe/vendor/OwlCarousel/assets/owl.theme.default.min.css' %}" rel="stylesheet">
	<link href="{% static 'courseMe/vendor/bootstrap/css/bootstrap.min.css' %}" rel="stylesheet">
	<link rel="stylesheet" type="text/css" href="{% static 'courseMe/vendor/semantic/semantic.min.css' %}">
	<link href="https://cdn.jsdelivr.net/npm/select2@4.1.0-beta.1/dist/css/select2.min.css" rel="stylesheet" />

	

</head>

<body>
	<!-- Header Start -->
	<header class="header clearfix">
		<button type="button" id="toggleMenu" class="toggle_menu">
			<i class="uil uil-bars"></i>
		</button>
		<button id="collapse_menu" class="collapse_menu">
			<i class="uil uil-bars collapse_menu--icon "></i>
			<span class="collapse_menu--label"></span>
		</button>
		<div class="main_logo" id="logo">
			<a href={% url 'courseMe:home' %}><img src="{% static 'courseMe/images/logo.svg' %}" alt=""></a>
			<a href={% url 'courseMe:home' %}><img class="logo-inverse" src="{% static 'courseMe/images/ct_logo.svg' %}"
					alt=""></a>
		</div>
		<div class="search120">
			<div class="ui search">
				<div class="ui left icon input swdh10">
					<input class="prompt srch10" type="text"
						placeholder="Search for course">
					<i class="uil uil-search-alt icon icon1"></i>
				</div>
			</div>
		</div>
		<div class="header_right">
			<ul>
				<li>
					<a href="{% url 'courseMe:create_new_course' %}" class="upload_btn">Create New Course</a>
				</li>
				
			
				<li class="ui dropdown">
					<a href="#" class="opts_account">
						<img src="{% static 'courseMe/images/hd_dp.jpg' %}" alt="">
					</a>
					<div class="menu dropdown_account">
						<div class="channel_my">
							<div class="profile_link">
								<img src="{% static 'courseMe/images/hd_dp.jpg' %}" alt="">
								<div class="pd_content">
									<div class="rhte85">
										<h6>Israel Israeli</h6>
										<div class="mef78" title="Verify">
											<i class="uil uil-check-circle"></i>
										</div>
									</div>
									<span>aaa@gmail.com</span>
								</div>
							</div>
							<a href="{% static 'courseMe/my_instructor_profile_view.html' %}" class="dp_link_12">{% static 'courseMe/View Instructor Profile</' %}a>
						</div>
						<a href{% static 'courseMe/="instructor_dashboard.html"' %} class="item channel_item">CourseMe dashboard</a>
					</div>
				</li>
			</ul>
		</div>
	</header>
	<!-- Header End -->
	<!-- Left Sidebar Start -->
	<nav class="vertical_nav">
		<div class="left_section menu_left" id="js-menu">
			<div class="left_section">
				<ul>
					<li class="menu--item">
						<a href={% url 'courseMe:home' %} class="menu--link active" title="Home">
							<i class="uil uil-home-alt menu--icon"></i>
							Home
						</a>
					</li>

				</ul>
			</div>
			<div class="left_section">
				<h6 class="left_title">YOUR COURSES</h6>
				<ul>
					{% for course in  user.my_own_courses.all %}
					<li class="menu--item">
						<a href="{% url 'courseMe:course_detail' pk=course.pk %}" class="menu--link user_img">
							<img src="{{ course.image.url }}" alt="">
							{{ course.name }}
							<div class="alrt_dot"></div>
						</a>
					</li>
					{% endfor %}
				


				</ul>
			</div>
			<div class="left_section pt-2">
				<ul>
					<li class="menu--item">
						<a href="#" class="menu--link" title="Setting">
							<i class="uil uil-cog menu--icon"></i>
							<span class="menu--label">Setting</span>
						</a>
					</li>

					
					<li class="menu--item">
						<a href="#" class="menu--link" title="Send Feedback">
							<i class="uil uil-comment-alt-exclamation menu--icon"></i>
							<span class="menu--label">Send Feedback</span>
						</a>
					</li>
				</ul>
			</div>
			<div class="left_footer">
				<div class="left_footer_content">
					<p>© 2020 <strong>CourseMe</strong>. All Rights Reserved.</p>
				</div>
			</div>
		</div>
	</nav>
	<!-- Left Sidebar End -->
	<!-- Body Start -->
	<div class="wrapper">
		<div class="sa4d25">
			<div class="container-fluid">
				<div class="row">
					<div class="section3125">
						{% block content %}

						{% endblock content %}
					</div>
				</div>
			</div>

		</div>

	</div>
	</div>
	</div>

	</div>
	<!-- Body End -->

	<!-- Scripts -->
	<script src="{% static 'courseMe/js/vertical-responsive-menu.min.js' %}"></script>
	<script src="{% static 'courseMe/js/jquery-3.3.1.min.js' %}"></script>
	<script src="{% static 'courseMe/vendor/bootstrap/js/bootstrap.bundle.min.js' %}"></script>
	<script src="{% static 'courseMe/vendor/OwlCarousel/owl.carousel.js' %}"></script>
	<script src="{% static 'courseMe/vendor/semantic/semantic.min.js' %}"></script>
	<script src="{% static 'courseMe/js/night-mode.js' %}"></script>
	<script src="{% static 'courseMe/js/jquery-steps.min.js' %}"></script>
	<script src="https://cdn.jsdelivr.net/npm/select2@4.1.0-beta.1/dist/js/select2.min.js"></script>
	<script src="{% static 'courseMe/js/custom.js' %}"></script>
	{% block scripts %}
	{% endblock scripts %}
	<!-- Scripts End -->



</body>


</html>