{% extends "courseMe/base.html" %}
{% load static %}

{% block content %}

<div class="_215b01">
	<div class="container-fluid">
		<div class="row">
			<div class="col-lg-12">
				<div class="section3125">
					<div class="row justify-content-center">
						<div class="col-xl-4 col-lg-5 col-md-6">
							<div class="preview_video">
								<div class="fcrse_img" data-toggle="modal">
									<img src="{{ course.image.url }}" alt="">
									{% if user == course.owner %}
									<div class="badge_seller">Your course</div>
									{% endif %}

								</div>
							</div>

						</div>
						<div class="col-xl-8 col-lg-7 col-md-6">
							<div class="_215b03">
								<h2>{{ course.name }}</h2>
								<span class="_215b04">{{ course.description }}</span>
							</div>

							<div class="_215b05">
								Last Updated: {{ course.last_updated|timesince }}
							</div>

							<div class="_215b05">
								Creator: {{ course.owner }}
							</div>

							{% if user == course.owner %}
							<ul class="_215b31">
								<li>
									<button type="button" class="btn_adcart" data-toggle="modal"
										data-target="#addSectionModal">Add Section</button>
								</li>

								<li>
									<button id="addLessonButton" type="button" class="btn_adcart" data-toggle="modal"
										data-target="#addLessonModal">Add lesson</button>
								</li>

								<li>
									<form method="post" action="{% url 'courseMe:delete_course' course.pk %}">
										{% csrf_token %}
										<button type="sumbit" class="btn_adcart">Remove course</button>
									</form>
								</li>
							</ul>
							{% endif %}
							<!-- Create lesson Modal -->
							<div class="modal fade" id="addLessonModal" tabindex="-1" role="dialog" aria-hidden="true">
								<div class="modal-dialog" role="document">
									<div class="modal-content">
										<div class="modal-header">
											<h5 class="modal-title">New lesson</h5>
											<button type="button" class="close" data-dismiss="modal" aria-label="Close">
												<span aria-hidden="true">&times;</span>
											</button>
										</div>
										<div class="modal-body">
											<form action="{% url 'courseMe:create_new_lesson' course_id=course.pk %}"
												method="post" enctype="multipart/form-data">
												{% csrf_token %}
												{{ lesson_form.as_p }}

												<div class="modal-footer">
													<button type="button" class="btn btn-secondary"
														data-dismiss="modal">Close</button>
													<button type="submit" class="btn btn-primary">Create lesson</button>
												</div>

											</form>
										</div>
									</div>
								</div>
							</div>


						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
<div class="_215b15 _byt1458">
	<div class="container-fluid">
		<div class="row">
			<div class="col-lg-12">

				<div class="course_tabs">
					<nav>
						<div class="nav nav-tabs tab_crse justify-content-center" id="nav-tab" role="tablist">
							<a class="nav-item nav-link active" id="nav-courses-tab" data-toggle="tab"
								href="#nav-courses" role="tab" aria-selected="true">Courses Content</a>
						</div>
					</nav>
				</div>
			</div>
		</div>
	</div>
</div>
<div class="_215b17">
	<div class="container-fluid">
		<div class="row">
			<div class="col-lg-12">
				<div class="course_tab_content">
					<div class="tab-content" id="nav-tabContent">

						<div class="tab-pane fade show active" id="nav-courses" role="tabpanel">
							<div class="crse_content">
								<h3>Course content</h3>
								<div class="_112456">
									<ul class="accordion-expand-holder">
										<li><span class="accordion-expand-all _d1452">Expand all</span></li>
										<li><span class="_fgr123"> {{ total_lessons }} Lessons</span></li>
										<li><span class="_fgr123">00:00:00</span></li>
									</ul>
								</div>
								<div id="accordion" class="ui-accordion ui-widget ui-helper-reset">
									{% for section in  course.section.all %}
									{% if section.all_the_students_can_see or user == course.owner or user in section.can_see.all %}

									<a href="javascript:void(0)"
										class="accordion-header ui-accordion-header ui-helper-reset ui-state-default ui-accordion-icons ui-corner-all">
										<div class="section-header-left">
											<span class="section-title-wrapper">
												<i class='uil uil-presentation-play crse_icon'></i>
												<span class="section-title-text">{{ section.section_number }}.
													{{ section.name }}</span>
											</span>
										</div>
										<div class="section-header-right">
											<span class="num-items-in-section">{{ section.lesson.all|length }}
												lessons</span>
											<span class="section-header-length">
												00:00
											</span>
										</div>
									</a>

									<div
										class="ui-accordion-content ui-helper-reset ui-widget-content ui-corner-bottom">
										<div class="lecture-container">


											<table class="table ucp-table">
												<thead class="thead-s">
													<tr>
														<th class="text-center" scope="col">Lecture ID</th>
														<th class="cell-ta">Title</th>
														<th class="text-center" scope="col">Lecturer</th>
														<th class="text-center" scope="col">Description</th>
														<th class="text-center" scope="col">Preview</th>
														<th class="text-center" scope="col">Controls</th>
													</tr>
												</thead>
												<tbody>
													{% for lesson in section.lesson.all %}
													<tr>
														<td class="text-center">{{ lesson.lesson_number }}</td>
														<td class="cell-ta">{{ lesson.name }}</td>
														<td class="text-center">{{ lesson.lecturer }}</td>
														<td class="text-center">{{ leeson.description }}</td>
														<td class="text-center">
															{% if user == course.owner or lesson.all_the_students_can_see or user in lesson.can_see.all %}
															<button type="button" class="btn btn-primary"
																data-toggle="modal" data-target="#videoModal"
																value="{{ lesson.video.url }}">Preview</button>
															{% endif %}
														</td>

														<td class="text-center">
															{% if user == course.owner %}


															<form method="post" id="deleteLessonForm"
																action="{% url 'courseMe:delete_lesson' lesson.pk %}">
																{% csrf_token %}
																<a id="editLessonIcon" data-toggle="modal"
																	data-target="#editLessonModal" title="Edit"
																	class="gray-s" value={{ lesson.id }}>
																	<i class="uil uil-edit-alt"></i>
																</a>
																<a title="Remove" value={{ lesson.id }}>
																	<i class="uil uil-trash-alt"
																		onclick="document.getElementById('deleteLessonForm').submit();"></i>
																</a>
															</form>

															{% else %}
															<span class="badge badge-danger">You aren't course
																owner</span>
															{% endif %}


														</td>
													</tr>
										</div>
										{% endfor %}
										</tbody>
										</table>
										{% if user == course.owner %}
										<a href="#" data-toggle="modal" data-target="#editSectionModal">
											<i class="uil uil-edit-alt editSectionIcon" title="Edit section"
												value={{ section.id }}> </i>
										</a>
										{% endif %}
									</div>
								</div>
								{% endif %}

								{% endfor %}


							</div>

						</div>
					</div>

					{% if user == course.owner  %}
					<!-- Edit lesson Modal -->
					<div class="modal fade" id="editLessonModal" tabindex="-1" role="dialog" aria-hidden="true">
						<div class="modal-dialog" role="document">
							<div class="modal-content">
								<div class="modal-header">
									<h5 class="modal-title">Edit lesson</h5>
									<button type="button" class="close" data-dismiss="modal" aria-label="Close">
										<span aria-hidden="true">&times;</span>
									</button>
								</div>
								<div class="modal-body">
									<form id="editLessonForm" action="{% url 'courseMe:update_lesson' 0 %}"
										method="post">

									</form>
								</div>
							</div>
						</div>
					</div>

					<!-- Edit Section Modal -->
					<div class="modal fade" id="editSectionModal" tabindex="-1" role="dialog" aria-hidden="true">
						<div class="modal-dialog" role="document">
							<div class="modal-content">
								<div class="modal-header">
									<h5 class="modal-title">Edit Section</h5>
									<button type="button" class="close" data-dismiss="modal" aria-label="Close">
										<span aria-hidden="true">&times;</span>
									</button>
								</div>
								<div class="modal-body">
									<form id="editSectionForm" action="{% url 'courseMe:update_section' 0 %}"
										method="post">
									</form>
								</div>
							</div>
						</div>
					</div>

					<!-- Create section Modal -->
					<div class="modal fade" id="addSectionModal" tabindex="-1" role="dialog" aria-hidden="true">
						<div class="modal-dialog" role="document">
							<div class="modal-content">
								<div class="modal-header">
									<h5 class="modal-title">New Section</h5>
									<button type="button" class="close" data-dismiss="modal" aria-label="Close">
										<span aria-hidden="true">&times;</span>
									</button>
								</div>
								<div class="modal-body">
									<form action="{% url 'courseMe:create_new_section' course_id=course.pk %}"
										method="post">
										{% csrf_token %}
										{{ section_form.as_p }}

										<div class="modal-footer">
											<button type="button" class="btn btn-secondary"
												data-dismiss="modal">Close</button>
											<button type="submit" class="btn btn-primary">Create
												Section</button>
										</div>

									</form>
								</div>
							</div>
						</div>
					</div>
					{% endif %}

					<!-- Video Modal -->
					<div class="modal fade" id="videoModal" tabindex="-1" role="dialog"
						aria-labelledby="exampleModalLabel" aria-hidden="true">
						<div class="modal-dialog" role="document">
							<div class="modal-content">
								<div class="modal-header">
									<h5 class="modal-title" id="exampleModalLabel">Lesson Preview</h5>
									<button type="button" class="close" data-dismiss="modal" aria-label="Close">
										<span aria-hidden="true">&times;</span>
									</button>
								</div>
								<div class="modal-body">
									<center>
										<video id='lesson-video-player' controls autoplay>
											<source src="" type="video/mp4">
											</source>
										</video>
									</center>
								</div>
								<div class="modal-footer">
									<button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
</div>

{% endblock content %}

{% block scripts %}


<script>
	$("button[data-target='#videoModal']").click(function () {
		$('#lesson-video-player').attr('src', $(this).val());
	});
</script>

{% if user == course.owner %}
<script>
	$(document).ready(function () {
		$("button[data-target='#videoModal']").click(function () {
			$('#lesson-video-player').attr('src', $(this).val());
		});

		$('#id_lesson-can_see').select2({
			width: '100%'
		});

		$('#id_lesson-section').select2({
			width: '100%'
		});
		$('#id_section-can_see').select2({
			width: '100%'
		});

		$('label[for=id_lesson-can_see]').parent().hide();
		$('label[for=id_section-can_see]').parent().hide();

		$("#id_lesson-all_the_students_can_see").click(function () {
			if ($("#id_lesson-all_the_students_can_see").prop('checked')) {
				$('label[for=id_lesson-can_see]').parent().hide();
			} else {
				$('label[for=id_lesson-can_see]').parent().show();
			}
		});

		$("#id_section-all_the_students_can_see").click(function () {
			if ($("#id_section-all_the_students_can_see").prop('checked')) {
				$('label[for=id_section-can_see]').parent().hide();
			} else {
				$('label[for=id_section-can_see]').parent().show();
			}
		});







		$("#editLessonIcon").click(function () {
			$('#editLessonForm').attr('action', "/courseMe/update_lesson/" + $('#editLessonIcon').attr(
				'value') + '/');
			$.ajax({
				url: "/courseMe/update_lesson/" + $('#editLessonIcon').attr('value'),
				dataType: 'html',
				method: 'GET',
				success: function (data, status) {
					$('#editLessonForm').html(data);
					$('#editLessonForm').find('#id_can_see').select2({
						width: '100%'
					});
					$('#editLessonForm').find('#id_section').select2({
						width: '100%'
					});

				}
			});
		});

		$(".editSectionIcon").click(function () {
			$('#editSectionForm').attr('action', "/courseMe/update_section/" + $(this).attr('value') +
			'/');
			$.ajax({
				url: "/courseMe/update_section/" + $(this).attr('value'),
				dataType: 'html',
				method: 'GET',
				success: function (data, status) {
					$('#editSectionForm').html(data);
					$('#editSectionForm').find('#id_can_see').select2({
						width: '100%'
					});
					$('#editSectionForm').find('#id_section').select2({
						width: '100%'
					});

				}
			});
		});

	});
</script>
{% endif %}
{% endblock scripts %}