{% extends "courseMe/base.html" %}

{% block content %}
<h4 class="item_title">
    {% if courses %} Hello {{  user.get_username }} - You have {{ courses|length }} courses.
    {% else %}
    Hello {{  user.get_username }} - You don't have any courses.
    {% endif %}
</h4>

<div class="la5lo1">
    <div class="row">
        {% if courses %}
        {% for course in courses %}
        <div class="fcrse_1" style="width: 20%;">
            <a href="{% url 'courseMe:course_detail' pk=course.pk %}" class="fcrse_img">
                <img src="{{ course.image.url }}" alt="">
                {% if user == course.owner %}
									<div class="badge_seller">Your course</div>
                {% endif %}
                <div class="course-overlay">
                    <span class="play_btn1"><i class="uil uil-play"></i></span>

                </div>
            </a>
            <div class="fcrse_content">
                <div class="eps_dots more_dropdown">
                    <a href="#"><i class="uil uil-ellipsis-v"></i></a>
                    <div class="dropdown-content">
                        <span><i class="uil uil-exit"></i>Leave course</span>
                    </div>
                </div>
                <div class="vdtodt">
                    <span>Last update: {{ course.last_updated|timesince }}</span>
                </div>
                <a href="{% url 'courseMe:course_detail' pk=course.pk %}" class="crse14s">{{ course.name }}
                    <a class="crse-cate">{{ course.description }}</a>
                    <div class="auth1lnkprce">
                        <p class="cr1fot">By {{ course.owner }}</p>
                    </div>
            </div>
        </div>
        {% endfor %}
        {% endif %}


    </div>
</div>

{% endblock content %}