﻿{% extends 'courseMe/base.html' %}
{% load static %}


{% block content %}
<h4 class="item_title">
	Create new course
</h4>

<div class="la5lo1">
	<form method="post" enctype="multipart/form-data">
		{% csrf_token %}
		<div class="basic_profile">
			<div class="basic_ptitle">
				<h3>Add information about the course</h4>
			</div>
			<div class="basic_form">
				<div class="row">
					<div class="col-lg-8">
						<div class="row">
							<div class="col-lg-6">
								<div class="ui search focus mt-30">
									<div class="ui left icon input swdh11 swdh19">
										{{ form.name }}
									</div>
								</div>
							</div>


							<div class="col-lg-12">
								<div class="ui search focus mt-30">
									<div class="ui form swdh30">
										<div class="field">
											{{ form.description }}
										</div>
									</div>
								</div>
							</div>

							<div class="col-lg-12">
								<div class="ui search focus mt-30">
									<div class="ui form swdh30">
										<label for="{{ form.is_public.auto_id }}">Public course ?</label>
										{{ form.is_public }}
									</div>
								</div>

										{{ form.students }}
							</div>

							<div class="col-lg-12" id="id_students">
								
							</div>

							<div class="col-lg-12">
								<div class="part_input mt-30 lbel25">
									<label>Choose course image</label>
									<div class="input-group">
										<div class="custom-file">
											{{ form.image }}
										</div>
									</div>
								</div>
							</div>
						</div>




						<button class="save_btn" type="submit">Create</button>
					</div>
				</div>
			</div>
		</div>
	</form>

</div>
{% endblock content %}

{% block scripts %}

<script>
	$(document).ready(function() {

		$('#id_students').select2({ width: '100%' , placeholder: 'Enter specific students to the course'});
		$('#id_students').next(".select2-container").hide();
		$("#id_is_public").click(function(){
			if($("#id_is_public").prop('checked'))
				$('#id_students').next(".select2-container").hide();			
			else
				$('#id_students').next(".select2-container").show();
			
		});
	});
</script>
{% endblock scripts %}